body {
    font-family: Verdana, sans-serif;
    background-color: burlywood;
}

article,
footer {
    background-color: beige
}

main {
    display: flex;
    gap: 8px;

}

a {
    color: white;
    background-color: rgb(230, 172, 100);
}

a:hover {
    background-color: rgb(254, 192, 112);
}